/build
/tmp
/.vagrant
/debian/files
/debian/debhelper-build-stamp
/debian/directory-tools
/debian/directory-tools.substvars
/documentation/man/*.1
/.scannerwork

# Python
/dist
/.coverage
/.cache
/.tox
/.pytest_cache
/.mypy_cache
*.egg-info
*.pyc
