[submodule "roles/slapd"]
	path = roles/slapd
	url = ssh://git@vc.shiin.org:2222/devops/ansible-slapd.git
[submodule "roles/vagrant-root-user"]
	path = roles/vagrant-root-user
	url = ssh://git@vc.shiin.org:2222/devops/ansible-vagrant-root-user.git
[submodule "roles/vagrant-user"]
	path = roles/vagrant-user
	url = ssh://git@vc.shiin.org:2222/devops/ansible-vagrant-user.git
[submodule "roles/directory-tools"]
	path = roles/directory-tools
	url = ssh://git@vc.shiin.org:2222/devops/ansible-directory-tools.git
