pycodestyle # style check
pylint # style check
flake8 # style check
pyenchant # pylint spell check plugin
pytest # test framework
pytest-cov # pytest coverage plugin
mccabe # static analysis
pyyaml # YAML parser
ldap3
shyaml
flask
flask-wtf # form extension
sentry-sdk == 0.5.3 # monitoring service
