pycodestyle # style check
pylint # style check
flake8 # style check
pyenchant # pylint spell check plugin
pytest # test framework
pytest-cov # pytest coverage plugin
mccabe # static analysis
pyyaml # YAML parser
py-spy # sampling profiler
mypy # type checker
ldap3
flask
flask-wtf # form extension
sentry-sdk == 1.14.0 # monitoring service
waitress # WSGI server
shyaml # YAML parser for shell scripts
